<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ng-cribs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body ng-app="ngCribs" ng-controller='cribsController'>
        <div class="well" ng-repeat="crib in cribs">
            <h3>{{ crib.Address}}</h3>
            <p><strong>Type: </strong>{{ crib.Type }}</p>
            <p><strong>Description: </strong>{{ crib.Description }}</p>
            <p><strong>Price: </strong>{{ crib.Price | currency }}</p>
        </div>
        
    
    
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/cribsController.js"></script>

</html>